---
import Layout from '../layouts/Layout.astro';
import Hero from "../sections/hero/Hero.jsx"
import AboutUs from "../sections/aboutus/AboutUs.astro"
---

<Layout title="Home | Hooman Digital">
	<main>
		<Hero/>
		<AboutUs/>
	</main>
</Layout>


