---
import Layout from '../layouts/Layout.astro';
import Hero from "../sections/hero/Hero.jsx"
import AboutUs from "../sections/aboutus/AboutUs.astro"
import OurPortfolio from "../sections/portfolio/OurPortfolio.astro"
import SupportBanner from "../sections/support_banner/SupportBanner.astro"
import Services from "../sections/services/Services.astro"
---

<Layout title="Home | Hooman Digital">
	<main>
		<Hero/>
		<AboutUs/>
		<Services/>
		<OurPortfolio/>
		<SupportBanner/>
	</main>
</Layout>


