---
import { Image } from "astro:assets";
import MeetImg2 from "../../assets/png/meet-2.png"
import CommonButtonYellow from "../../components/button/CommonButtonYellow";

---

<div class="container mx-auto px-4 md:px-12 py-20 flex flex-col lg:flex-row">
  <div class="w-full lg:w-2/5">
    <Image src={MeetImg2} alt="meeting optimized image2" class="w-full"/>
  </div>
  <div class="w-full lg:w-3/5 ps-0 lg:ps-28 flex items-center">
    <div>
      <h3 class="py-9 font-bold text-5xl">ABOUT US</h3>
      <p class="text-justify">
      At Hooman Digital, we're more than just a team of digital experts. We're a group of individuals who are passionate about using our skills and expertise to help others succeed. Our team is made up of designers, developers, writers, marketers, and community builders, each with a unique perspective and set of skills. We're committed to creating digital solutions that are authentic, innovative, immersive, and intuitive. Whether we're designing a new website, developing a brand identity.
      </p>
    <div class="py-9">
      <CommonButtonYellow text="View More" link="/" classes=""/>
    </div>
  </div>
  </div>

</div>

